In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Street_Pothole_Work_Orders_-_Closed__Dataset_.csv')

In [3]:
df.head()

,the_geom,DefNum,InitBy,HouseNum,OFT,OnFaceName,OnPrimName,FrmPrimNam,ToPrimName,SpecLoc,Boro,Source,RptDate,RptClosed,Shape_Leng
0,MULTILINESTRING ((-73.94380842208841 40.584992...,DB2004287021,CSC,NaN,318630377030377030,BEDFORD AV,BEDFORD AVENUE,BELT PARKWAY,BELT PARKWAY,SB ON BEDFORD_UNDERNEATH OVERPASS,B,CTZ,10/13/2004,02/14/2013,109.124234
1,MULTILINESTRING ((-73.98570910180825 40.641185...,DB2006085009,CSC,NaN,306380308480308530,13 AV,13 AVENUE,38 STREET,39 STREET,I/F/O B16 BUS STOP,B,CTZ,03/26/2006,10/11/2014,260.495098
2,MULTILINESTRING ((-73.934872108524 40.67959308...,DB2007166005,CSC,1688,342730355530375430,FULTON ST,FULTON STREET,LEWIS AVENUE,SCHENECTADY AVENUE,POTHOLE NEAR CURB I/F/O ADDRESS,B,CTZ,06/15/2007,01/14/2011,549.255973
3,MULTILINESTRING ((-73.9779394087253 40.6898061...,DB2009352004,CSC,45,380030331530342730,ST FELIX ST,ST FELIX STREET,DEKALB AVENUE,FULTON STREET,"4"" DEEP",B,CTZ,12/18/2009,01/06/2010,836.436669
4,MULTILINESTRING ((-73.97501506812608 40.640761...,DB2009362038,CSC,514,313830335030367730,AV C,AVENUE C,EAST 5 STREET,OCEAN PARKWAY,ONE POTHOLE I/F/O DRIVE WAY RIGHT OFF THE CURB,B,CTZ,12/28/2009,01/04/2010,385.456668

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323871 entries, 0 to 323870
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   the_geom    323871 non-null  object
 1   DefNum      323871 non-null  object
 2   InitBy      323871 non-null  object
 3   HouseNum    219613 non-null  object
 4   OFT         323871 non-null  int64
 5   OnFaceName  323040 non-null  object
 6   OnPrimName  323794 non-null  object
 7   FrmPrimNam  323841 non-null  object
 8   ToPrimName  323765 non-null  object
 9   SpecLoc     108833 non-null  object
 10  Boro        323871 non-null  object
 11  Source      323871 non-null  object
 12  RptDate     323871 non-null  object
 13  RptClosed   323871 non-null  object
 14  Shape_Leng  323871 non-null  float64
dtypes: float64(1), int64(1), object(13)
memory usage: 37.1+ MB

In [5]:
# check number of null values in df
df.isna().sum().sum()

320340

In [6]:
# check with columns have null values return boolean
df.isna().any()

the_geom      False
DefNum        False
InitBy        False
HouseNum       True
OFT           False
OnFaceName     True
OnPrimName     True
FrmPrimNam     True
ToPrimName     True
SpecLoc        True
Boro          False
Source        False
RptDate       False
RptClosed     False
Shape_Leng    False
dtype: bool

In [7]:
# check numbers of null values in each columns
df.isna().sum()

the_geom           0
DefNum             0
InitBy             0
HouseNum      104258
OFT                0
OnFaceName       831
OnPrimName        77
FrmPrimNam        30
ToPrimName       106
SpecLoc       215038
Boro               0
Source             0
RptDate            0
RptClosed          0
Shape_Leng         0
dtype: int64

In [10]:
# Convert RptDate from object to new type (datetime)
df['Report Date'] = pd.to_datetime(df['RptDate'])

In [12]:
# return the date = 2021-10-01 and Boro = staten island
df[(df['Report Date'] >= '2021-10-01') & (df['Boro'] == 'S')]

,the_geom,DefNum,InitBy,HouseNum,OFT,OnFaceName,OnPrimName,FrmPrimNam,ToPrimName,SpecLoc,Boro,Source,RptDate,RptClosed,Shape_Leng,Report Date
279049,MULTILINESTRING ((-74.10582614294682 40.600781...,DS2021274002,SBO,105,516010525908542485,ANNFIELD CT,ANNFIELD COURT,DEAD END,PALACE COURT,PH IFO 105 ANNFIELD CT,S,CTZ,10/01/2021,10/19/2021,393.614222,2021-10-01
279050,MULTILINESTRING ((-74.09868319847438 40.619202...,DS2021274004,SPH,1,545905526600533065,RUGBY AV,RUGBY AVENUE,DUDLEY AVENUE,HIGHLAND AVENUE,NaN,S,CTZ,10/01/2021,10/20/2021,618.669606,2021-10-01
279051,MULTILINESTRING ((-74.10090957402407 40.591021...,DS2021274006,ONF,NaN,529315544900545296,FOUR CORNERS RD,FOUR CORNERS ROAD,RICHMOND ROAD,ROMER ROAD,4 CORNERS RD ABOVE RICHMOND RD HAS NUMEROUS PO...,S,CTZ,10/01/2021,10/22/2021,1261.087029,2021-10-01
279052,MULTILINESTRING ((-74.09640364625918 40.622334...,DS2021275003,CSC,NaN,553000526810547950,VICTORY BL,VICTORY BOULEVARD,EAST CHESHIRE PLACE,SILVER LAKE PARK ROAD,NaN,S,CTZ,10/02/2021,10/26/2021,1330.916944,2021-10-02
279053,MULTILINESTRING ((-74.16265183458643 40.630230...,DS2021276004,SPH,300A,515960524350539740,ANDROS AV,ANDROS AVENUE,CONTINENTAL PLACE,NETHERLAND AVENUE,NaN,S,CTZ,10/03/2021,10/21/2021,471.423197,2021-10-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279587,MULTILINESTRING ((-74.1882648310706 40.5532753...,DS2022028038,YRD,357,521452531380536135,CARLTON BL,CARLTON BOULEVARD,HALPIN AVENUE,LEGATE AVENUE,NaN,S,YRD,01/27/2022,01/28/2022,459.356771,2022-01-27
279588,MULTILINESTRING ((-74.18609308340261 40.554548...,DS2022028039,YRD,NaN,536135521452531380,LEGATE AV,LEGATE AVENUE,CARLTON BOULEVARD,HALPIN AVENUE,NaN,S,YRD,01/27/2022,01/28/2022,761.231484,2022-01-27
279589,MULTILINESTRING ((-74.18614424302007 40.551973...,DS2022028040,YRD,577,556285516100521452,WOODROW RD,WOODROW ROAD,ARDEN AVENUE,CARLTON BOULEVARD,NaN,S,YRD,01/27/2022,01/28/2022,774.609963,2022-01-27
279590,MULTILINESTRING ((-74.18148062132548 40.523654...,DS2022028042,YRD,419,523983522695527210,COLON ST,COLON STREET,CHESTER AVENUE,EDITH AVENUE,NaN,S,YRD,01/27/2022,01/28/2022,631.726634,2022-01-27
279591,MULTILINESTRING ((-74.18043123012754 40.524047...,DS2022028043,YRD,86,534450516040527210,JARVIS AV,JARVIS AVENUE,ARBUTUS AVENUE,EDITH AVENUE,7,S,YRD,01/27/2022,01/28/2022,637.212323,2022-01-27

In [13]:
df[(df['Report Date'] >= '2021-10-01')].groupby('Boro').count()

,the_geom,DefNum,InitBy,HouseNum,OFT,OnFaceName,OnPrimName,FrmPrimNam,ToPrimName,SpecLoc,Source,RptDate,RptClosed,Shape_Leng,Report Date
Boro,,,,,,,,,,,,,,,
B,1793,1793,1793,1057,1793,1793,1793,1793,1793,172,1793,1793,1793,1793,1793
M,595,595,595,411,595,595,595,595,595,54,595,595,595,595,595
Q,2238,2238,2238,1491,2238,2232,2238,2238,2238,406,2238,2238,2238,2238,2238
S,543,543,543,322,543,542,543,543,543,168,543,543,543,543,543
X,851,851,851,646,851,849,851,851,851,118,851,851,851,851,851